################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SeeMoreInventory/wwwroot/csv
/SeeMoreInventory/obj/Release/netcoreapp2.0
/SeeMoreInventory/obj/Debug/netcoreapp2.0
/.vs/SeeMoreInventory/DesignTimeBuild
/.vs/SeeMoreInventory/v15
